   /* Xandre's CSS */
    
    :root {
		--laptop-color: gray;
		--width-color: purple;
	}

	body {
		background-color:black;
		color:lightgray;
		font-family: calibri;
	}

	@media (max-width: 700px) {
		body {
			background-color:hotpink;
			--width-color: purple;
			color: var(--width-color);
		}
	}

	.green-text {
		color:limegreen;
	}

	.purple-text {
		color:mediumpurple;
	}

	.huge {
		font-size: 40px;
	}

	.lobster {
		font-family: lobster, serif;
	}

	.larger-image {
		width: 400px;
	}

	.thick-hotpink-border {
		border-width: 5px;
		border-color:palevioletred;
		border-style: solid;
		width:100px
	}

	.round-corner {
		border-radius: 100px;
		border-width: 5px;
		border-color:yellow;
		border-style: solid;
		width:100px
	}

	.orangebg {
		background-color: orangered;
		width: 38%;
	}

	#pad {
		padding: 10px;
		border-style: solid;
		border-width: 5px;
		border-color: teal;
		text-align: center;
	}

	#mar {
		padding: 20px;
		margin: 50px;
		border-style: solid;
		border-width: 5px;
		border-color:brown;
		text-align: center;
	}

	#neg {
		padding: 20px;
		margin: -10px;
		border-style: solid;
		border-width: 5px;
		border-color:greenyellow;
		text-align: center;
	}
	
	#padtrbl {
		padding-top: 1px;
		padding-right: 10px;
		padding-bottom: 15px;
		padding-left: 25px;
		border-style: solid;
		border-color:lightblue;
		margin-right: 1000px;
		display: inline-block;
		width: auto;
	}

	#pmclock {
		padding: 5px 5px 5px 5px;
		margin: 5px 90% 5px 5px;
		border-style: solid;
		border-color:peru;
		display: inline-block;
		width: auto;
	}

	#sunny {
		color:#FFA500;
	}

	[type='radio'] {
		margin: 10px;
	}

	#lapgray {
		background: var(--laptop-color);
	}

	#lapwht {
		--laptop-color: white;
		background: var(--laptop-color);
		color: black;
	}

	h3 {
		text-align: right;
		color: purple;
	}

	h3:hover {
		color:fuchsia;
	}

	hr {
		color: white;
	}

	.transparent {
		background-color:rgba(255,99,71,0.35);
	}

	.bxshadow {
		box-shadow: 0 10px 20px rgba(0,0,0,0.85);
		text-align: center;
	}

	.opa {
		opacity: 0.25;
	}

	.transf {
		text-transform: capitalize;
	}
	
	.thck {
		font-weight: 600;
	}

	.thn {
		font-weight: 10;
	}

	.lnht {
		line-height: 35px;
	}

	.pshv {
	}

	.pshv:hover {
		color: aqua;
	}

	.posrel {
		position: relative;
		top: 10px;
		left: 300px;
	}

	section {
		position: relative;
	}

	#posabs {
		position: absolute;
		top: 2px;
		left: 100px;
	}